@import "../../vars.css";

.container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 15px 0 rgb(7, 255, 251);
    padding: 18px 20px;
    max-width: 345px;
    width: 100%;
    height: 460px; /* Set a fixed height for consistency */
    overflow: hidden; /* Prevent overflow */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.image {
    width: 100%;
    height: 200px; /* Ensure image has a fixed height */
    object-fit: cover; /* Ensures image maintains aspect ratio and fits within the container */
    margin-bottom: 26px;
    border-radius: 10px;
}

.title {
    font-size: 20px;
    font-weight: 700;
    margin: 0; /* Remove margin */
}

.description {
    flex-grow: 1; /* Allow description to take up available space */
    margin-top: 6px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px; /* Add some margin to the bottom */
}

.skills {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    list-style: none;
    padding: 0; /* Reset default padding */
}

.skill {
    font-size: 14px;
    font-weight: 400;
    border-radius: 100px;
    background: var(--color-bg);
    padding: 2px 12px;
}

.links {
    width: 100%;
    margin-top: 10px; /* Adjust margin to fit content */
    margin-bottom: 10px; /* Adjust margin to fit content */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #fff;
}

.link:hover {
    background-color: var(--primary-color);
    color: var(--neutral-color-3);
    transform: scale(1.05);
  }

.link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 100px;
    color: #fff;
    background-color: var(--neutral-color-3);
    box-shadow: 0 0 15px 0 rgb(7, 255, 251);
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    padding: 5px 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}
