@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 49px;
    z-index: 2;
    margin-left: 10%;
    margin-right: 10%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-text);
    z-index: 1;
}

.title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: Helvetica;
}

.description {
    font-size: 30px;
    font-weight: bold;
    font-family: Helvetica;
    margin-bottom: 52px;
    align-items: center;
}

.contactBtn {
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 30px;
    font-size: 30px;
    font-weight: 600;
    padding: 17px 26px;
    box-shadow: 0 0 4px 0 rgb(7, 255, 251);
}

.heroImg {
    width: 40%;
    z-index: 1;
    border-radius: 50%;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    box-shadow: 0 0 50px 0 rgb(7, 255, 251);
}


@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, -0px);
    }
}

.topBlur {
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-width: 350px;
    top: -128px;
    left: -10vw;
    border-radius: 764px;
    background-color: var(--color-primary);
    filter: blur(100px);
    z-index: 0;
}


.bottomBlur {
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 350px;
    min-width: 250px;
    top: 246px;
    right: -25vw;
    border-radius: 764px;
    background-color: var(--color-primary);
    filter: blur(100px);
    z-index: 0;
}

@media screen and (max-width: 830px) {
    .container {
        flex-direction: column-reverse;
    }
    .content {
        align-items: center;
    }
    .description {
        font-size: 30px;
        font-weight: bold;
        font-family: Helvetica;
        margin-bottom: 52px;
        text-align: center; /* Center align the text horizontally */
        display: flex; /* Use flexbox */
        align-items: center; /* Align items vertically */
        justify-content: center; /* Center justify the content horizontally */
    }
    
}