.aboutSection {
  padding: 20px;
  text-align: center;
  margin-top: 10px;
  height: 830px;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

@media (min-width: 830px) {
  .aboutContent {
    flex-direction: row;
    justify-content: center;
    line-height: 25px;
  }
}

.aboutImage {
  width: 350px;
  height: 300px;
  border-radius: 5%;
  margin: 10px;
}

.infoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
  max-width: 700px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
  box-shadow: 0 0 15px 0 rgb(7, 255, 251);
  
}

@media (min-width: 830px) {
  .infoBox {
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
  }
}

.aboutInfo {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 20px;
  row-gap: 15px;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 830px) {
  .aboutInfo {
    text-align: left;
    margin-left: 25px;
    row-gap: 15px;
    margin-top: 10px;
  }

  .aboutSection {
    height: 100%;
  }
}

.name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.infoBox p {
  margin: 5px 0;
}

.infoBox li {
  padding-left: 0;
  margin: 10px 0;
  text-indent: 0em; /* Pull the first line to the left */
  padding-left: 1em; /* Add padding to the list item */
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contactButton, .connectButton {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #fff;
  background-color: var(--neutral-color-3);
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 0 15px 0 rgb(7, 255, 251);
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.contactButton:hover, .connectButton:hover {
  background-color: var(--primary-color);
  color: var(--neutral-color-3);
  transform: scale(1.05);
}

.icon {
  margin-right: 8px;
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.navigation a {
  margin: 5px 0;
  font-size: 16px;
  color: var(--color-text);
  text-decoration: none;
  height: 60px;
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.icons a {
  margin: 10px 0;
  color: #333;
  font-size: 24px;
}
