@import "../../vars.css";

.container {
    color: var(--color-text);
    margin-top: 120px;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    padding: 58px 10%;
    gap: 10px;
}

.text h2 {
    color: var(--color-text);
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.text p {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 20px;
}

.link {
    display: flex; /*display: flex to ensure the icon
                    and text are in the same line*/
    align-items: center;
    gap: 15px;
}

.link a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
}

@media screen and (max-width: 830px) {
    .container {
        flex-direction: column;
        gap: 20px;
        padding: 20px 5%;
        align-items: center;
    }

    .text {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .text h2 {
        font-size: 30px;
    }

    .text p {
        font-size: 16px;
    }

    .links {
        align-items: center;
    }

    .link {
        gap: 10px;
        
    }

    .link a {
        font-size: 16px;
    }
}