@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 79px;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 70px;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 14px;
}

.skillsSection {
  width: 45%;
}

.skillsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  /* max-width: 500px; */
  width: 100%;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
  width: calc(100% / 7);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill:hover {
  transform: scale(1.1);
}

.skillImageContainer {
  background-color: var(--neutral-color-1);
  box-shadow: 0 0 12px rgb(7, 255, 251);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
}

.skillImage {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.skill p {
  font-size: 18px;
  font-family: 'Helvetica';
  font-weight: 500;
  text-align: center;
}

.historySection {
  width: 45%;
}

.historyList {
  list-style-type: none;
  padding: 0;
}

.historyItem {
  margin-bottom: 40px;
  box-shadow: 0 0 15px 0 rgb(7, 255, 251);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.historyItem:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px 4px rgba(7, 255, 251, 0.5);
}

.historyLink {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 17px;
  background-color: var(--neutral-color-1);
  border-radius: 10px;
  padding: 24px;
  text-decoration: none;
  color: inherit;
}

.historyImage {
  width: 75px;
  height: 75px;
  object-fit: contain;
}

.historyItemDetails {
  font-family: 'Helvetica';
}

.historyItemDetails h4 {
  font-size: 20px;
  font-weight: 500;
}

.historyItemDetails p {
  font-size: 16px;
  font-weight: 300;
}

.historyItemDetails ul {
  margin-top: 6px;
  list-style-position: inside;
  font-size: 14px;
  list-style-type: disc;
  margin-left: 17px;
}

.technicalSkill {
  margin-bottom: 20px;
}

.workHistory {
  margin-bottom: 30px;
  margin-top: 20px;
}

/* Navigation bar */
.navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-navbar);
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 15px 0;
  box-shadow: 0 -3px 8px rgba(0,0,0,0.1);
  z-index: 999;
}

.navigation a {
  color: var(--color-text);
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  padding: 5px 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 5px;
}

.navigation a:hover {
  background-color: var(--secondary-color-1);
  color: var(--neutral-color-1);
}

@media (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .skillsSection,
  .historySection {
    width: 100%;
  }

  .historyLink {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .historyItemDetails ul {
    text-align: left;
  }
}

@media screen and (max-width: 480px) {
  .navigation {
    gap: 10px;
    padding: 12px 3%;
    font-size: 0.5rem;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .navigation a {
    padding: 6px 10px;
    font-size: 0.65rem;
  }

  .buttons {
    font-size: 0.9rem;
    padding: 10px 20px;
    min-width: 120px;
  }
}
