:root {
  --color-text: #1F1F1F;
  --color-text-secondary: #555555;

  --color-bg: #F8F6F1;
  --color-navbar: #EFE9DD;

  --color-navbar-text: #F6F7EB;

  --color-surface: #FFFFFF;
  --color-card-bg: rgba(255, 255, 255, 0.9);

  --color-accent: #00cfcf;
  --color-accent-soft: rgba(0, 207, 207, 0.08);
  --color-accent-border: rgba(0, 207, 207, 0.18);

  --color-primary-button: #2B2B2B;
  --color-primary-button-text: #FFFFFF;

  --color-border: #E5E2DA;
}

:root.dark {
  --color-text: #F6F7EB;
  --color-text-secondary: #CCCCCC;

  --color-bg: #121212;
  --color-navbar: #1F1F1F;

  --color-navbar-text: #F6F7EB;

  --color-surface: #2E2E2E;
  --color-card-bg: rgba(255, 255, 255, 0.05);

  --color-accent: #00fcfc;
  --color-accent-soft: rgba(0, 252, 252, 0.1);
  --color-accent-border: rgba(0, 252, 252, 0.2);

  --color-primary-button: #F6F7EB;
  --color-primary-button-text: #121212;

  --color-border: #333333;
}