:root {
    /* Colours */
    --color-text: #231F20;
    --primary-color: #F6F7EB;
    --secondary-color-1: #009688;
    --secondary-color-2: #FF6F61;
    --neutral-color-1: #FFFFFF;
    --neutral-color-2: #E0E0E0;
    --neutral-color-3: #333333;
    --color-bg: #FFFCF2;

    /* Fonts */
    
}